.background {
  background-color: rgb(19, 18, 18);
  border: solid 2px;
  height: 220px;
  width: 350px;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 100px;
  opacity: 0.9;
}
.mastercard {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 25px;
  display: flex;
  margin-left: 15px;
}
.logo-name {
  margin-right: 120px;
}

.visa-logo {
  color: silver;
  margin-right: 50px;
  margin-top: 15px;
  height: 40px;
  padding-bottom: 50px;
}

.card-number {
  margin-top: 20px;
  margin-left: 20px;
}

.name-exp {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-top: 30px;
}

h5 {
  color: silver;
}
h6 {
  color: silver;
}
