@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(20, 21, 38);
}

.form {
  position: relative;
  width: 434px;
  padding: 40px 45px 50px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -3px -3px 7px rgba(255, 255, 255, 0.09);
  background: rgb(20, 21, 38);
}
.form h2 {
  color: #dad7d7;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 3px;
}
.form .input {
  text-align: left;
  margin-top: 40px;
}
.form .input .inputBox {
  margin-top: 20px;
}
.form .input .inputBox label {
  display: block;
  color: #bbb7b7;
  margin-bottom: 5px;
  font-size: 18px;
}
.form .input .inputBox input {
  width: 100%;
  height: 55px;
  border: 1px solid rgb(20, 21, 38);
  outline: none;
  letter-spacing: 0.8px;
  border-radius: 20px;
  padding: 15px 15px;
  font-size: 16px;
  color: #03a9f4;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5),
    inset -3px -3px 7px rgba(255, 255, 255, 0.09);
  background: rgb(20, 21, 38);
}
.form .input .inputBox input::-moz-placeholder {
  color: #a8a7a7;
  font-size: 17px;
}
.form .input .inputBox input::placeholder {
  color: #a8a7a7;
  font-size: 17px;
}
.form .input .inputBox input:focus {
  box-shadow: 0 0 9px rgb(81, 203, 238);
  border: 1px solid rgb(81, 203, 238);
}
.form .input .inputBox input[type="submit"] {
  margin-top: 20px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
  font-size: 18px;
  transition: 0.4s;
}
.form .input .inputBox input[type="submit"]:hover {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.486),
    inset -3px -3px 7px rgba(255, 255, 255, 0.5);
  background: aqua;
  color: #000;
}
.form .input .inputBox input[type="submit"]:active {
  color: #006c9c;
  margin-top: 20px;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.forget {
  margin-top: 30px;
  color: #555;
}
.forget a {
  color: #ff0047;
}
